@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color: #f0b30f;
}
.theme-text{
    color: var(--main-color);
}
.act{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
.navbar ul li a:hover{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
.header{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("resources/assets/kulliner.jpg");
   width: 100%;
   height: 100vh;
   background-position: center;
   background-size: cover;
   position: relative;
}
.wave{
    position: absolute;
    bottom: 0px;
}
.midlle{
    height: 80vh;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.midlle h1{
    font-size: 60px;
}